<html>
<head>
    <title>Relations in Harry Potter</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
    <br>
    <h3>How to use?</h3>
    1. Write first name of any characters from Harry Potter movies in 3 empty text boxes.<br>
    2. Provide first two names as a relationship example.<br>
    3. And AI will find out the corresponding person in relationship with the last name.<br>
    <br>
    <center><h1>Relations in Harry Potter</h1></center>
    <br>
    <br>
    <center>
        <form action="getanswer" method="POST">
            <input type="text" name="str1"> is related to <input type="text" name="str2">, as <span id="ans">________</span> is related to <input type="text" name="str3">
            <br>
            <br>
            <input type="submit" value="Find Out the missing person">
            <br>
            <br>
            <br>
            
        </form>
    </center>
    
    
</body>
</html>